{% extends "base3.html" %}

{% block title %}Admin — Delete Candidates{% endblock %}

{% block content %}
<div class="grid justify-center">
    <div class="mt-40">
        <h1 class="text-2xl font-semibold">Delete Candidates</h1>
    </div>
</div>
<form class="m-3 grid justify-center" action="" method="post">
    <div class="form-group">
        <input name="candidate_id" class="rounded-lg border-2 border-gray-800 bg-transparent placeholder-gray-800 text-xs w-72 h-8 p-3" id="InputID"  placeholder="Enter Candidate ID" required>
    </div>
    <!-- <p class="form-group text-xs w-72 ml-1 text-center">{{ message }}</p> -->
    <input type="submit" class="bg-gray-800 h-8 rounded-lg text-white text-xs mt-4 h-8 w-72 hover:bg-gray-500" value="Submit">
  </form>

{% endblock %}