{% extends "adminBase2.html" %}

{% block title %}Admin — Delete Candidates{% endblock %}

{% block content %}
<!-- Title -->
<form method="POST">
    <div class="p-0 mt-12">
        <div class="p-0 mb-12 sm:p-8 sm:pt-0 lg:p-28 lg:pt-0 ">
            <!-- Content -->
            <div class="filter backdrop-blur-3xl w-auto h-auto p-5 border border-white lg:w-auto lg:flex lg:place-self-center"
                style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                                      backdrop-filter: blur(1000px);
                                      border-radius: 16px;">
                <div
                    class="m-4 grid grid-cols-1 gap-6 flex flex-row flex-grow h-auto justify-items-center content-center">
                    <h1
                        class="text-xl font-bold tracking-wide flex justify-center sm:text-2xl md:text-3xl lg:text-4xl sm:p-1 md:p-3 lg:p-4 text-purple-900">
                        Delete Candidates</h1>
                    <form action="admin_viewCan.html" method="POST" class="w-full mx-auto space-y-4">
                        <!-- Candidate ID -->
                        <div>
                            <div class="relative">
                                <input type="text" id="candidate_id" name="candidate_id" required
                                    class="p-4 w-full h-10 rounded-xl pl-10 text-sm focus:outline-none border border-purple-800 font-light bg-transparent placeholder-purple-800"
                                    placeholder="Enter Candidate ID Number">
                                <svg class="w-4 h-4 absolute top-0 m-3 text-purple-800"
                                    xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div>
                            <div class="relative flex flex-row-reverse">
                                <input type="submit" name="submit_btn" value="Submit"
                                    class="p-2 w-50 h-10 rounded-xl text-white text-xs sm:text-xs md:text-sm lg:text-md border border-purple-800 font-bold bg-purple-800"
                                    placeholder="Submit">
                            </div>
                        </div>


                        <!-- Real Time Update Message -->
                        <div class="filter backdrop-blur-3xl w-auto h-auto mt-6 p-5 border border-white lg:w-auto lg:flex lg:place-self-center"
                            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                                      backdrop-filter: blur(1000px);
                                      border-radius: 16px;">
                            <div class="m-2 grid grid-cols-1 gap-6 flex flex-col flex-grow h-auto space-y-1">
                                <div class="pl-2 flex flex-row items-center w-full h-full">
                                    <img src="img/heading-icons/Final Profile pic(1).svg" class="w-8 h-8 m-2" alt="">
                                    <span class="">
                                        <p class="text-xs sm:text-xs md:text-sm lg:text-md">Jane Cooper has been deleted
                                            as Chairperson.</p>
                                    </span>
                                </div>
                                <div class="pl-2 flex flex-row items-center w-full h-full">
                                    <img src="img/heading-icons/Final Profile pic(1).svg" class="w-8 h-8 m-2" alt="">
                                    <span class="">
                                        <p class="text-xs sm:text-xs md:text-sm lg:text-md">Eleanor Pena has been
                                            deleted as Vice Chairperson.</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
</form>

{% endblock %}