<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
</head>
<body style="font-family: 'Montserrat', sans-serif;">
     <!-- START of Navbar -->
     <nav class="fixed-bottom w-screen">
        <div class="navbar bg-white bg-opacity-25 flex h-14">
            <span class="flex nav-item">
                <a href="/admin/view" class="flex nav-link">
                    <!-- <img class="w-6 h-auto mr-1 ml-10" src="/static/images/Home-Icon.svg" alt=""> -->
                    <img class="w-6 h-auto mr-1 ml-10 filter grayscale" src="{{ url_for('static', filename='img/images/carbon_document-view.svg') }}" alt="" style="filter: grayscale();">
                    <!-- <p class="text-purple-800 text-sm mt-3">Home</p> -->
                </a>
            </span>
            <span class="flex nav-item">
                <a href="/admin/add" class="flex nav-link">
                    <img class="w-6 h-auto mr-1 left filter grayscale" src="{{ url_for('static', filename='img/images/carbon_add-filled.svg') }}" alt="" style="filter: grayscale();">
                    <!-- <p class="text-purple-800 text-sm mt-3">Vote</p> -->
                </a>
            </span>
            <span class="flex nav-item">
                <a href="/admin/update" class="flex nav-link">
                    <img class="w-5 h-auto mr-1 left mt-1 filter grayscale" src="{{ url_for('static', filename='img/images/Vector.svg') }}" alt="" style="filter: grayscale();">
                    <!-- <p class="text-purple-800 text-sm mt-3">Results</p> -->
                </a>
            </span>
            <span class="flex nav-item">
                <a href="/admin/delete" class="flex nav-link"> 
                    <img class="w-5 h-auto mr-10 left mt-1 filter grayscale" src="{{ url_for('static', filename='img/images/Group.svg') }}" alt="" style="filter: grayscale();">
                    <!-- <p class="text-purple-800 text-sm mt-3">About</p> -->
                </a>
            </span>

            <!-- <div class="ml-4">
                <a href=" ">
                    <img class="purple-500 w-6 h-4 mr-3 mt-4" src="Log-out-Icon.svg " alt=" ">
                </a>
            </div> -->
        </div>
    </nav>
    <!-- END of Navbar -->

    {% block content %}

    {% endblock %}
</body>
</html>