{% extends "base1.html" %}
{% block title %}Pollice — Login{% endblock %}

{% block content %}

<!-- {% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %} -->
<div class="pt-16"></div>
<div class="grid justify-center">
  <!-- <p class="w-24 text-3xl mr-48 pt-20 font-bold text-white text-center" style="font-family: 'Montserrat', sans-serif;">Create Account</p> -->
  <p class="w-24 text-3xl mr-48 pt-20 font-bold text-black text-center" style="font-family: 'Montserrat', sans-serif;">Login</p>
</div>

<form class="m-3 grid justify-center" action="" method="post">
  <div class="form-group">
      <input name="email" class="rounded-lg border-2 border-gray-800 bg-transparent placeholder-gray-800 text-xs w-72 h-8 p-3" id="InputEmail"  placeholder="Enter email" required>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
    <div class="form-group">
      <input type="password" name="password" class="rounded-lg border-2 border-gray-800 bg-transparent placeholder-gray-800 text-xs w-72 h-8 p-3" id="InputPassword" placeholder="Password" required>
  </div>
  <p class="form-group text-xs w-72 ml-1 text-center">{{ message }}</p>
  <input type="submit" class="bg-gray-800 h-8 rounded-lg text-white text-xs mt-4 h-8 w-72 hover:bg-gray-500" value="Login">
</form>
{% endblock %}