{% extends "base2.html" %}

{% block content %}
<div class="relative inline-block p-0">
    <!-- VOTE -->
    <div class="w-full p-6 flex-row">
        <h1
            class="text-2xl font-normal tracking-wider flex justify-center sm:text-2xl md:text-3xl lg:text-4xl sm:p-1 md:p-3 lg:p-4">
            Vote
        </h1>
    </div>

    <div class="grid grid-cols-1 gap-4 mb-4 w-full h-auto justify-items-center 
    sm:grid sm:grid-cols-2 sm:gap-4 
    lg:grid lg:grid-cols-2 lg:gap-4 lg:p-2 lg:pt-2 lg:mb-8">
        
        <!-- Content -->
        <div class="filter backdrop-blur-3xl w-10/12 h-10/12 p-5 pl-4 pr-4 border order-first border-white shadow-xl"
            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                backdrop-filter: blur(1000px);
                border-radius: 16px;">
            <!-- Chairperson -->
            <div class="flex items-center flex-col w-auto h-auto">
                <h4 class="flex flex-col place-items-center justify-center items-center w-auto h-auto p-2 mb-1 pl-4 pr-4 text-white rounded sm:w-auto "
                    style="background: #E2502B;">
                    Chairperson
                </h4>
                <form method="POST">
                    <div class="w-full h-auto text-gray-700 text-base grid grid-cols-1 gap-2 p-3">
                        <span>
                            {% for candidate in chairperson %}
                            <label for="candidate">{{ candidate }}</label>
                            <input type="radio" id="candidate" name="chairperson" value="{{ candidate }}" required><br>
                            {% endfor %}   
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <!-- Content -->
        <div class="filter backdrop-blur-3xl w-10/12 h-10/12 p-5 pl-4 pr-4 border order-first border-white shadow-xl"
            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                backdrop-filter: blur(1000px);
                border-radius: 16px;">
            <!-- Secretary -->
            <div class="flex items-center flex-col w-auto h-auto">
                <h4 class="flex flex-col place-items-center justify-center items-center w-auto h-auto p-2 mb-1 pl-4 pr-4 text-white rounded sm:w-auto "
                    style="background: #E2502B;">
                    Secretary
                </h4>
                <form method="POST">
                    <div class="w-full h-auto text-gray-700 text-base grid grid-cols-1 gap-2 p-3">
                        <span>
                            {% for candidate in secretary %}
                            <label for="candidate">{{ candidate }}</label>
                            <input type="radio" id="candidate" name="secretary" value="{{ candidate }}" required><br>
                            {% endfor %}   
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <!-- Content -->
        <div class="filter backdrop-blur-3xl w-10/12 h-10/12 p-5 pl-4 pr-4 border order-first border-white shadow-xl"
            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                backdrop-filter: blur(1000px);
                border-radius: 16px;">
            <!-- Treasurer -->
            <div class="flex items-center flex-col w-auto h-auto">
                <h4 class="flex flex-col place-items-center justify-center items-center w-auto h-auto p-2 mb-1 pl-4 pr-4 text-white rounded sm:w-auto "
                    style="background: #E2502B;">
                    Treasurer
                </h4>
                <form method="POST">
                    <div class="w-full h-auto text-gray-700 text-base grid grid-cols-1 gap-2 p-3">
                        <span>
                            {% for candidate in treasurer %}
                            <label for="candidate">{{ candidate }}</label>
                            <input type="radio" id="candidate" name="treasurer" value="{{ candidate }}" required><br>
                            {% endfor %}   
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <!-- Content -->
        <div class="filter backdrop-blur-3xl w-10/12 h-10/12 p-5 pl-4 pr-4 border order-first border-white shadow-xl"
            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                backdrop-filter: blur(1000px);
                border-radius: 16px;">
            <!-- Auditor -->
            <div class="flex items-center flex-col w-auto h-auto">
                <h4 class="flex flex-col place-items-center justify-center items-center w-auto h-auto p-2 mb-1 pl-4 pr-4 text-white rounded sm:w-auto "
                    style="background: #E2502B;">
                    Auditor
                </h4>
                <form method="POST">
                    <div class="w-full h-auto text-gray-700 text-base grid grid-cols-1 gap-2 p-3">
                        <span>
                            {% for candidate in auditor %}
                            <label for="candidate">{{ candidate }}</label>
                            <input type="radio" id="candidate" name="auditor" value="{{ candidate }}" required><br>
                            {% endfor %}   
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <!-- Content -->
        <div class="filter backdrop-blur-3xl w-10/12 h-10/12 p-5 pl-4 pr-4 border order-first border-white shadow-xl"
            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                backdrop-filter: blur(1000px);
                border-radius: 16px;">
            <!-- Business Manager -->
            <div class="flex items-center flex-col w-auto h-auto">
                <h4 class="flex flex-col place-items-center justify-center items-center w-auto h-auto p-2 mb-1 pl-4 pr-4 text-white rounded sm:w-auto "
                    style="background: #E2502B;">
                    Business Manager
                </h4>
                <form method="POST">
                    <div class="w-full h-auto text-gray-700 text-base grid grid-cols-1 gap-2 p-3">
                        <span>
                            {% for candidate in business_manager %}
                            <label for="candidate">{{ candidate }}</label>
                            <input type="radio" id="candidate" name="business_manager" value="{{ candidate }}" required><br>
                            {% endfor %}   
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <!-- Content -->
        <div class="filter backdrop-blur-3xl w-10/12 h-10/12 p-5 pl-4 pr-4 border order-first border-white shadow-xl"
            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                backdrop-filter: blur(1000px);
                border-radius: 16px;">
            <!-- Peace Officer -->
            <div class="flex items-center flex-col w-auto h-auto">
                <h4 class="flex flex-col place-items-center justify-center items-center w-auto h-auto p-2 mb-1 pl-4 pr-4 text-white rounded sm:w-auto "
                    style="background: #E2502B;">
                    Peace Officer
                </h4>
                <form method="POST">
                    <div class="w-full h-auto text-gray-700 text-base grid grid-cols-1 gap-2 p-3">
                        <span>
                            {% for candidate in chairperson %}
                            <label for="candidate">{{ candidate }}</label>
                            <input type="radio" id="candidate" name="none" value="{{ candidate }}" required><br>
                            {% endfor %}   
                        </span>
                    </div>
                </form>
            </div>
        </div>


        <!-- Content -->
        <div class="filter backdrop-blur-3xl w-10/12 h-10/12 p-5 pl-4 pr-4 border order-first border-white shadow-xl"
            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                backdrop-filter: blur(1000px);
                border-radius: 16px;">
            <!-- Representative 1 -->
            <div class="flex items-center flex-col w-auto h-auto">
                <h4 class="flex flex-col place-items-center justify-center items-center w-auto h-auto p-2 mb-1 pl-4 pr-4 text-white rounded sm:w-auto "
                    style="background: #E2502B;">
                    Representative 1
                </h4>
                <form method="POST">
                    <div class="w-full h-auto text-gray-700 text-base grid grid-cols-1 gap-2 p-3">
                        <span>
                            {% for candidate in representative %}
                            <label for="candidate">{{ candidate }}</label>
                            <input type="radio" id="candidate" name="representative" value="{{ candidate }}" required><br>
                            {% endfor %}   
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <!-- Content -->
        <div class="filter backdrop-blur-3xl w-10/12 h-10/12 p-5 pl-4 pr-4 border order-first border-white shadow-xl"
            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                backdrop-filter: blur(1000px);
                border-radius: 16px;">
            <!-- Representative 2 -->
            <div class="flex items-center flex-col w-auto h-auto">
                <h4 class="flex flex-col place-items-center justify-center items-center w-auto h-auto p-2 mb-1 pl-4 pr-4 text-white rounded sm:w-auto "
                    style="background: #E2502B;">
                    Representative 2
                </h4>
                <form method="POST">
                    <div class="w-full h-auto text-gray-700 text-base grid grid-cols-1 gap-2 p-3">
                        <span>
                            {% for candidate in representative %}
                            <label for="candidate">{{ candidate }}</label>
                            <input type="radio" id="candidate" name="none" value="{{ candidate }}" required><br>
                            {% endfor %}   
                        </span>
                    </div>
                </form>
            </div>
        </div>
       

    </div>
</div>

<!-- SUBMIT -->

{% if voted == False %}
<a href="">
    <div class="flex justify-end p-8 pb-12">
        <button class="transition duration-500 ease-in-out hover:bg-indigo-600 transform hover:-translate-y-1 hover:scale-110 rounded-xl p-3 h-14 w-36 text-white text-lg bg-indigo-700 
        lg:text-xl lg:p-4 lg:h-16 lg:w-40 lg:transition lg:duration-300 lg:ease-in-out lg:transform lg:hover:-translate-y-1 lg:hover:scale-110">
            Submit
        </button>
    </div>
</a>
{% endif %}

{% if voted == True %}
<a href="" style="visibility: hidden;">
    <div class="flex justify-end p-8 pb-12">
        <button type="submit" name="submit_btn" id="submi" class="transition duration-500 ease-in-out hover:bg-indigo-600 transform hover:-translate-y-1 hover:scale-110 rounded-xl p-3 h-14 w-36 text-white text-lg bg-indigo-700 
        lg:text-xl lg:p-4 lg:h-16 lg:w-40 lg:transition lg:duration-300 lg:ease-in-out lg:transform lg:hover:-translate-y-1 lg:hover:scale-110">
            Submit
        </button>
    </div>
</a>
<div class="text-center">Your vote was counted!</div>
{% endif %}


{% endblock %}