{% extends "base2.html" %}
{% block title %}Pollice — Vote Now!{% endblock %}

{% block content %}


<div class="grid justify-center mt-6">
    <form method="POST"> 
        <div class="border border-gray-800 w-64 m-3 p-3">
        
            <div class="text-center font-bold"><label for="">Chairperson</label></div>
            
            {% for candidate in chairperson %}
                <label for="candidate">{{ candidate }}</label>
                <input type="radio" id="candidate" name="chairperson" value="{{ candidate }}" required><br>
            {% endfor %}

        </div>

        <div class="border border-gray-800 w-64 m-3 p-3">
            <div class="text-center font-bold"><label for="">Secretary</label></div>
            
            {% for candidate in secretary %}
                <label for="candidate">{{ candidate }}</label>
                <input type="radio" id="candidate" name="secretary" value="{{ candidate }}" required><br>
            {% endfor %}
         
        </div>

        <div class="border border-gray-800 w-64 m-3 p-3"> 
            <div class="text-center font-bold"><label for="">Treasurer</label></div>
            
            {% for candidate in treasurer %}
                <label for="candidate">{{ candidate }}</label>
                <input type="radio" id="candidate" name="treasurer" value="{{ candidate }}" required><br>
            {% endfor %}

        </div> 

        <div class="border border-gray-800 w-64 m-3 p-3"> 
            <div class="text-center font-bold"><label for="">Auditor</label></div>
            
            {% for candidate in auditor %}
                <label for="candidate">{{ candidate }}</label>
                <input type="radio" id="candidate" name="auditor" value="{{ candidate }}" required><br>
            {% endfor %}

        </div>

        <div class="border border-gray-800 w-64 m-3 p-3"> 
            <div class="text-center font-bold"><label for="">Business Manager</label></div>
            
            {% for candidate in business_manager %}
                <label for="candidate">{{ candidate }}</label>
                <input type="radio" id="candidate" name="business_manager" value="{{ candidate }}" required><br>
            {% endfor %}

        </div>

        <div class="border border-gray-800 w-64 m-3 p-3"> 
            <div class="text-center font-bold"><label for="">Representatives</label></div>
            
            {% for candidate in representative %}
                <label for="candidate">{{ candidate }}</label>
                <input type="radio" id="candidate" name="representative" value="{{ candidate }}" required><br>
            {% endfor %}

        </div>

        {% if voted == False %}
        <div class="text-center"><input id="submit_btn" type="submit" name="submit_btn" class="bg-gray-800 text-white hover:bg-gray-500 px-4" value="Submit"></div>
        {% endif %}

        {% if voted == True %}
            <div class="text-center"><input id="submit_btn" type="submit" name="submit_btn" class="bg-gray-800 text-white hover:bg-gray-500 px-4" value="Submit" style="visibility: hidden;"></div>
            <div class="text-center">Your vote was counted!</div>
        {% endif %}

        
    </form>
    <div class="mb-20"></div>
</div>

{% endblock %}